@import "./css/global.css";
@import "./css/header.css";

body {
    background-image: url(./assets/mountains-universe-1.png);
}

main {
    height: calc(100vh - 12.2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

main h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;
    color: var(--grey-2);
}

main a {
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    padding: 1.2rem 3.2rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

main a:hover {
    background: var(--white);
    color: var(--blue-green);
    transition: .6s;
}